<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <title>add or search database</title>
        <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

        <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

        <link rel="stylesheet" href="style.css" media="screen">

        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <script src="index.js" charset="utf-8" defer></script>
    </head>

    <body>
        <header>
            <h1 class="site-title">Add or Search</h1>
            
        </header>

        <main class="search-container">
            <div class = "btn-group-justified btn-group-sm btn-group-vertical">
                <a href="https://web.engr.oregonstate.edu/~thaungt/assign1/addnew.html"><button>Add to database</button></a>
                <a href="searchBy.html"><button>Search from existing database</button></a>
            </div>
        </main>

    </body>
</html>
