<!DOCTYPE html>

<html>
    <body>
                    <br>
                    <a href = "/branch/humanresources" style="text-decoration: none;">Human Resources</a><br>
                    <a href = "/branch/marketing" style="text-decoration: none;">Marketing</a><br>
                    <a href = "/branch/finance" style="text-decoration: none;">Finance</a><br>
                </div>
                <br>
                <table border = 1>
                    <tr>
                      <th>branch_id</th>
                      <th>branch_type</th>
                      <th>cid</th>
                    </tr>
                    {{#each tableData}}
                        <tr>
                            <td>{{branch_id}}</td>
                            <td>{{branch_type}}</td>
                            <td>{{cid}}</td>
                        </tr>
                    {{/each}}
                </table>
            </article>
        </main>
    </body>
</html>


<!-- <h1 class="site-title" style="font-size: 15px">Add</h1>  
<a href="https://web.engr.oregonstate.edu/~thaungt/assign1/add_branch.html"><button>Add to database</button></a>
<br>
<h1 class="site-title" style="font-size: 15px">Delete by Branch Type</h1>   -->
<!-- <a href="https://web.engr.oregonstate.edu/~thaungt/assign1/delete.html"><button>Delete from database</button></a> -->
<!-- <div class = "btn-group-justified btn-group-sm btn-group-vertical">
    <input type="text" id="delete_branch" placeholder="Enter Branch Type">
    <br>
    <a href="#"><button>Delete</button></a>
</div>
<br> -->