<html>
    <head>
      <meta charset="utf-8">
      <title> Code for Money </title>
  
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
  
      <link rel="stylesheet" href="/style.css" media="screen">
  
    </head>
  
    <body>
        <header>
            <a href="https://web.engr.oregonstate.edu/~thaungt/assign1/codeformoney.html" style="text-decoration: none;"><h1 class="site-title"> Code for Money </h1></a>
        </header>
  
        <main class="container">
            <article class="box">
                <div class="content">
                    <a href="https://web.engr.oregonstate.edu/~thaungt/assign1/codeformoney.html"><button>Home</button></a>
                    <a href="https://web.engr.oregonstate.edu/~thaungt/assign1/branch.html"><button>Branch</button></a>
                    <a href="https://web.engr.oregonstate.edu/~thaungt/assign1/contact.html"><button>Contact</button></a>
                </div>
            </article>
        </main>
    </body>

    <br>
    <br>

    <body>
        <div class = "btn-group-justified btn-group-sm btn-group-vertical">
            <input type="text" id="search-name" placeholder="Search by name...">
            <a href="#"><button>Search</button></a>
        </div>

        <br><br>

        <table border = 1>
            <tr>
                <th>contact_id</th>
                <th>fst_name</th>
                <th>lst_name</th>
                <th>sex</th>
                <th>dob</th>
                <th>phone_number</th>
                <th>address</th>
                <th>email</th>
                <th>bid</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Code For Money</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>2002-03-01</td>
                <td>1234567890</td>
                <td>Somewhere in US</td>
                <td>codeformoney@codeformoney.com</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Human Resources</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>2002-03-01</td>
                <td>2234567890</td>
                <td>Somewhere in US</td>
                <td>humanresource@codeformoney.com</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Marketing</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>2002-03-01</td>
                <td>3234567890</td>
                <td>Somewhere in US</td>
                <td>Marketing@codeformoney.com</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Finance</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>2002-03-01</td>
                <td>4234567890</td>
                <td>Somewhere in US</td>
                <td>Finance@codeformoney.com</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Tun Aung</td>
                <td>Thaung</td>
                <td>NULL</td>
                <td>2000-04-20</td>
                <td>9999999999</td>
                <td>Ayeyarwady Kyouttone</td>
                <td>project@codeformoney.com</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Alex</td>
                <td>Yu</td>
                <td>male</td>
                <td>2001-04-02</td>
                <td>8888888888</td>
                <td>NW CandyHouse Steak city</td>
                <td>mediumrare@codeformoney.edu</td>
                <td>3</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Min Khant</td>
                <td>Aung</td>
                <td>male</td>
                <td>2000-04-02</td>
                <td>7777777777</td>
                <td>183 htaminpaung, shankhoutswal city</td>
                <td>htaminpaung@codeformoney.edu</td>
                <td>4</td>
            </tr>
          </table>
  
    </body>
</html>