<table border = 1>
    <tr>
        <th>company_name</th>
        <th>bid</th>
        <th>cid</th>
    </tr>
    <tr>
        {{#each tableData}}
        <tr>
            <td>{{company_name}}</td>
            <td>{{bid}}</td>
            <td>{{cid}}</td>
        </tr>
        {{/each}}
    </tr>
</table>